.input {
	font-size:15px;
	padding:12.5px;
	background:transparent;
	border:2px solid lightgray;
	color:#444C5A;
	width:200px;
	height:46px;
	display:inline-block;
	border-radius:3px;
	outline:none;
	transition:border 0.3s;
}
.input:hover {
	border:2px solid #a6a6a6;
}
.input:focus {
	border:2px solid #387deb;
}
.title {
	text-align:center;
	font-size:48px;
	margin:20px;
}
.button {
	text-align:center;
	font-family:'Roboto';
	font-size:15px;
	padding:14px;
	background:#387deb;
	color:white;
	display:inline-block;
	cursor:pointer;
	border-radius:3px;
	transition:background 0.3s, color 0.3s;
}
.button.alt {
	padding:13px;
	background:transparent;
	border:1px solid lightgray;
	color:#888C99;
}
.button:hover {
	background:#3170d4;
}
.button:active {
	background:#2657a6;
}
.button.alt:hover {
	background:#99999922;
}
.button.alt:active {
	background:lightgray;
	color:#666666;
}
.half-width {
	width:50%;
	display:inline-block;
}
#list {
	font-size:15px;
}
body {
	font-family:'Roboto';
	color:#444C5A;
	text-align:center;
}
* {
	box-sizing:border-box;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}
